
/*	body {font-size:100%;}*/

	/*原文、講義內容*/
	div.essay {
		overflow-y:scroll;
		letter-spacing:1.5pt;
		line-height:1.4;
		font-size:96%;
		padding:5px;
		width:99%;
/*		height:300px;*/
		border-width:0 1px 1px 1px;
		border-style:solid;
	}
	
	sup.falseBR {padding:0;color:red}
	
	select {padding:3px;font-size:100%;}
	button {padding:2px;font-size:100%;}
	button.toggle {font-weight:bold;color:brown;}
	button.dlgCloser {
		position:absolute;
		top:2px;
		right:2px;
		margin:0;
		padding:2px;
	}
	
	p.dlgTitle {
		font-weight:bold;
		color:DodgerBlue;
		margin-top:1em;
		margin-bottom:5px;
	}

    table {
    	border-collapse:collapse;
    }
    
    pre {
    	font-family:新細明體;
    	line-height:0em;
    	/*margin:0;
    	padding:0;*/
    }
    
	.srcwords {
		font-family:標楷體;
		font-size:105%;
		font-weight:bold;
	}

/*	行動裝置無「標楷體」，以色標之*/
	.mobilSWcolor {
		color:Sienna; /* MidnightBlue*/
	}

	.textborder {
		border-style:solid;
		border-width:1px;
		padding: 1px;
	}

    