
/*	body {font-size:100%;}*/
	select {padding:3px;font-size:100%;}
	button {padding:2px;font-size:100%;}
    
    table {
    	border-collapse:collapse;
    }
    
    pre {
    	font-family:新細明體;
    	line-height:0em;
    	/*margin:0;
    	padding:0;*/
    }
    
	.srcwords {
		font-family:標楷體;
		font-size:105%;
		font-weight:bold;
		color:Sienna; /* MidnightBlue*/
	}

	.textborder {
		border-style:solid;
		border-width:1px;
		padding: 1px;
	}

    