
/*	body {font-size:100%;}*/
	.dropbtn {
	    background-color: DodgerBlue;/*#3498DB;*/
	    color: white;
	/*    margin:0;*/
	    padding:1px;
	    font-size: 16px;
	/*    border: none;*/
	    cursor: pointer;
	}

	.dropbtn:hover, .dropbtn:focus {
	    background-color: #2980B9;
	}

	.dropbtn:disabled {
	    background-color: lightgray;
	    cursor: not-allowed;
	}

	.dropdown {
	    position: relative;
	    display: inline-block;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    border:1px solid black;
/*	    right:10px;*/
	    background-color: #f1f1f1;
	/*    min-width: 160px;*/
	    overflow: auto;
	/*    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
	    z-index: 1;
	}

	.dropdown-content a {
		color: black;
		padding: 4px 8px;
		text-decoration: none;
		display: block;
	}
	
	.dropdown-content li {
		color: black;
		padding-top: 5px;
		padding-bottom: 0px;
		cursor: pointer;
/*	    display: block; 不可，圖示不見 */
	}

	.dropdown-content a:hover, .dropdown-content span:hover {
		background-color: #ddd;
		cursor: pointer;
	}

	.dropdownShow {display:block;}
/*	.Hider { display:none;}*/
	.Bolder { font-weight:bold;}
	


	.paraIndent {
		margin-left:0;
		text-indent:37px; /*2em + div.padding 5px*/
	}

	.__pageNum {
		color:blue;
		background-color:LightGray;/*rgb(244, 244, 244);*/
	/*	padding:2px;*/
	}

	.__pageNumInDiv {
		position:absolute;
		top:-12px;
		right:0px;
		color:black;
		background-color:#e5eecc;/*LightGray rgb(244, 244, 244);*/
		padding:1px;
		font-size:85%;
	}


	div.notearea {
		padding:2px 8px;
		background-color:rgb(248, 248, 248);
		margin-left:0;
		text-indent:0;
	}
/*	div.notearea { background-color:rgb(252, 252, 252);margin-left:0;text-indent:0}*/
	div.notearea_m {
		padding:2px 8px;
		background-color:rgb(230, 230, 230);
		margin-left:0;
		text-indent:0;
	}

/*	文章名稱*/
	.esyTitle {
		text-align:center;
		font-size:120%;
		font-weight:bold;
	}
	
/*	節 標題*/
	.esySection {
		font-size:110%;
		font-weight:bold;
	}
	
/*	Toc 標題*/
	.tocTitle {
/*		color:DarkBlue;*/
		border-style:solid;
		border-width:1px;
		padding: 1px;
	}
	
	.noteNum { font-size:100%;}

	.srcwords {
		font-family:標楷體;
		font-size:105%;
/*		font-weight:bold;*/
	}

/*	行動裝置無「標楷體」，以色標之*/
	.srcwords_m {
		font-family:標楷體;
/*		font-size:103%;*/
		color:MidnightBlue; /* Sienna */
	}


	/*原文、講義 標題容器*/
	div.esyTitlePool {
		position:relative;
		background-color:#EEFFFF;
		border-width:0px 1px 0px 1px;
		border-style:solid;
		margin:0;
		padding-left:5px
	}
	
	/*原文、講義內容*/
	div.esyPool {
		font-size:110%;
		padding-left:5px;
		border-width:0 1px 1px 1px;
		border-style:solid;
	}
	
	div.essay {
		overflow-y:scroll;
		letter-spacing:1.5pt;
		line-height:1.4;
		font-size:110%;
		width:100%;
	}
	
	sup.falseBR {padding:0;color:red;}
	
	select {padding:2px;font-size:95%;}
	button {padding:1px;font-size:16px;}
	button.toggle {font-weight:bold;color:brown;cursor:pointer;}
	button.dlgCloser {
		position:absolute;
		top:2px;
		right:2px;
		margin:0;
		padding:2px;
	}
	
	p.dlgTitle {
		font-weight:bold;
		color:DodgerBlue;
		margin-top:1em;
		margin-bottom:5px;
	}

  table {
  	border-collapse:collapse;
  }
  
  pre {
  	font-family:新細明體;
  	line-height:0em;
  	/*margin:0;
  	padding:0;*/
  }
    
	
	// 佛經原文樣式；原為 p_sutratext
	.sutratext {font-size:110%; font-weight:bold;}
	
	.textborder {
		border-style:solid;
		border-width:1px;
		padding: 1px;
	}

	.dotu {border-bottom: dotted 2px;}
	.dashu {border-bottom: dashed 2px;}
	/*Wavy underline Border／Decoration*/
	.wu {text-decoration: underline; text-decoration-style: wavy;}

	/*Double underline Border／Decoration*/
	.du {border-bottom: double 3px;}
	/*.du_m {text-decoration: underline; border-bottom: 1px solid;}*/

	/* 40px; --> 1.5em  */
	blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
	}

