
.menutree ul {
	padding-left: 20px; /*等於 png.width + 4*/
	margin-top: 5px;
	margin-left: 0px;
}

.menutree li {
	list-style-type: none;
	margin-bottom: 5px;
}

.menutree a {
	text-decoration: none;
	color:black;
}

/*.menutree li.span {
	cursor: hand !important;
*/}

